.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
}

.App-body {
  font-size: calc(10px + 2vmin);
  padding: 1rem;
}

.logo {
  margin: 0;
  margin-top:2em;
  margin-bottom:2em;
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

.logo img{
  width:50%;
}

.articles-container {
  margin-top:2em;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media(max-width: 768px) {
  .logo img{
    width:80%!important;;
  }
}