/*
  Styles preferences button
*/
.pref-button {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1em;
    min-width: 10vw;
    background-color: #78808f;

    border-width: 0;
    border-radius: 2em;
    color: white;
}
.pref-button:hover {
  background-color: #a4aab6;
}
/*
  Justifies preferences to the right
*/
.flex-right {
  display:flex;
  justify-content: flex-end;
}