.pref-button {
    padding: 1em;
    width: 10%;
    background-color: #78808f;

    border-width: 0;
    border-radius: 2em;
    color: white;
  }
  .pref-button:hover {
    background-color: #a4aab6;
  }
  
 .flex-right {
    display:flex;
    justify-content: flex-end;
  }