.flex-center {
    width:100%;
}

.preference-window {
    position: fixed;
    background-color: #78808f;
    border-radius: 1em;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.preference-window header{
    padding: 0;
    margin: 0;
    display: block;
    font-size: 1rem;
}
.preference-window header button{
    position: absolute;
    right: 4%;
    font-size: 1.5rem;
    color: #4b525e;
    background-color: #78808f;
    border-width: 0;
}
.preference-window header button:hover{
    color: #a4aab6;
}

.preference-window label{
    white-space: nowrap;
    font-size: 1rem;
    display: inline-block;
    margin: 0.5em;
    padding-right: 1em;

    background-color: #78808f;
    border: solid 1px;
    border-radius: 3em;
    border-color: white;
}



.preference-window label p{
    font-size: 2rem;
    display: inline-block;
    background-color: #282c34;
    border-width: 0px;
    border-radius: 100%;
    
    margin: 0.5rem;
    padding:0.5rem;
}

.preference-window label input{
    display:none;
}

.preference-window label:hover{
    background-color: #a4aab6;
}

.preference-window label input:checked ~ .preference-window label p{
    background-color: #57ff5f;
}

@media (max-width:768px) {
    .preference-window {
        width: 80%;
    }
}