.search-container {
    width: 100%;
  }
  .search-container select{
    padding: 2em;
    background-color: #78808f;
    border-width: 0;
    border-radius: 3em;
    border-right: solid #78808f 2em;
    color:white;
    width: 80%;
  }
  .search-container:after{
    margin: 2em;
    padding-right: 10em;
  }
  .search-container select:after{
    margin: 2em;
    padding-right: 10em;
  }
  .search-container:focus {
    outline-color: #00ff9c;
  }